@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #1c1c1c;
}

body {
  transition: width 0.3s; /* 添加过渡效果 */
  overflow-x: hidden;
}

main {
  margin: 0 15vw;
}

section {
  margin: 20% 0;
}

section:first-child {
  margin-top: 10%;
}

.bg {
  position: fixed;
  top: -10vw;
  left: 50%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
  transform: translate(-44%);
}

.pinkBackground {
  position: fixed;
  background: radial-gradient(circle at center, #EE4A4A 10%, #fff 70%);
  width: 160vh;
  height: 160vh;
  border-radius: 50%;
  top: 1vh;
  left: 0;
  z-index: -20;
  opacity: 0.2;
}

.fruit {
  position: absolute;
  background: url(../img/fruitBG.png) no-repeat;
  background-size: contain;
}

.footer-bg .fruit3, .footer-bg .fruit2, .footer-bg .fruit1, .fruit3, .fruit2, .fruit1 {
  left: 26em;
  top: -1em;
  display: block;
  width: 60em;
  height: 60em;
  opacity: 1;
}

.fruit2 {
  width: 30em; /* 較小的寬度 */
  height: 30em;
  left: 0vw; /* 使用vw單位 */
  top: -1vh; /* 居中 */
}

.fruit3 {
  width: 30em; /* 較小的寬度 */
  height: 25vw;
  top: -1vh; /* 居中 */
  left: 78em;
}

#lightBox {
  width: 50vw;
  overflow: hidden;
  background: #f1f1f1;
  box-shadow: 0 0 20px #b1b1b1;
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
  padding: 10px;
  text-align: center;
  display: none;
}
#lightBox .dilation {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#lightBox .dilation small {
  color: #777;
  display: block;
  margin: 2% auto;
}
#lightBox .dilation table, #lightBox .dilation thead, #lightBox .dilation tr, #lightBox .dilation th, #lightBox .dilation td {
  border: 1px solid #000;
}
#lightBox .dilation th {
  display: table-cell;
}
#lightBox .dilation a {
  display: inline-block;
  padding: 10px 15px;
  background-color: #fff;
}

.header-area {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.header-area .hamburger {
  width: 40px;
  height: 25px;
  position: relative;
  position: fixed;
}
.header-area .hamburger span {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: blue;
}
.header-area .hamburger span:first-of-type {
  top: 0;
}
.header-area .hamburger span:nth-of-type(2) {
  top: 50%;
}
.header-area .hamburger span:last-of-type {
  top: 100%;
}
.header-area .slide-menu {
  position: fixed;
  top: 65px;
  width: 100%;
  left: 0;
}
.header-area .slide-menu li {
  color: #fff;
  line-height: 400%;
  text-align: center;
}

.header-area {
  display: flex;
  justify-content: space-between;
  height: 65px;
  padding: 0 20px;
  align-items: center;
}
.header-area .hamburger {
  width: 40px;
  height: 25px;
  position: relative;
}
.header-area .hamburger span {
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #333;
}
.header-area .hamburger span:first-of-type {
  top: 0;
}
.header-area .hamburger span:nth-of-type(2) {
  top: 50%;
}
.header-area .hamburger span:last-of-type {
  top: 100%;
}
.header-area .slide-menu {
  position: fixed;
  top: 65px;
  width: 30%;
  left: 0;
  transform: translateX(-230%);
}
.header-area .slide-menu li {
  color: #fff;
  line-height: 400%;
  text-align: center;
}

.hamburger.active span:first-of-type { /* ハンバーガーメニューの1番目の線 */
  top: 50%;
  transform: rotate(405deg);
}

.hamburger.active span:nth-of-type(2) { /* ハンバーガーメニューの2番目の線 */
  opacity: 0; /* 透明にする */
}

.hamburger.active span:last-of-type { /* ハンバーガーメニューの3番目の線 */
  top: 50%;
  transform: rotate(-405deg);
}

.slide-menu.active {
  height: 100vh;
  display: flex;
  top: 0;
  background-color: rgba(238, 238, 238, 0.0352941176);
  flex-direction: column;
  justify-content: center;
  transform: translateX(233%);
  z-index: -1;
}

header {
  width: 100vw;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100vw;
  padding: 10px;
}
header h1 {
  display: inline-block;
  margin-left: 20px;
}
header ul {
  display: flex;
  list-style: none;
  gap: 4%;
  margin-right: 20px;
  font-size: 1rem;
  width: 130px;
}
header ul li {
  clear: both;
  min-width: 120px;
  text-align: center;
  padding: 10px;
}
header ul li:nth-child(3) a {
  font-weight: 800;
  border-radius: 7px;
  background-color: #D0251D;
  box-shadow: 3px 3px 1px #c1c1c1;
}
header ul li:nth-child(3) a a {
  color: #fff;
}
header ul li a {
  color: #000;
  font-weight: 800;
  text-decoration: none;
}

main section.kvBlock .kv {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 10vw;
}
main section.kvBlock .kv .kvImg {
  width: 50%;
  position: relative;
  text-align: center;
}
main section.kvBlock .kv .kvImg img {
  position: relative;
  width: 150px;
  z-index: 13;
}
main section.kvBlock .kv .kvImg::after {
  content: "";
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background-color: #fefefe;
  box-shadow: 0px 5px 5px #c1c1c1;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main section.kvBlock .kv .k-text-img {
  width: 50%;
  text-align: center;
  display: grid;
  grid-template-rows: 10% 55% 18% 20%;
  grid-template-areas: "campaignText" "prize" "date" "img";
  gap: 30px;
}
main section.kvBlock .kv .k-text-img .campaignText {
  display: block;
  width: 370px;
  font-weight: 900;
  font-size: 1.5rem;
  color: #EE4A4A;
  margin: 0 auto;
  grid-area: campaignText;
}
main section.kvBlock .kv .k-text-img .prize {
  display: flex;
  justify-content: space-around;
  overflow-y: hidden;
  overflow-x: clip;
  gap: 3vw;
}
main section.kvBlock .kv .k-text-img .prize .prizeA {
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 30%;
  gap: 10px;
}
main section.kvBlock .kv .k-text-img .prize .prizeA::after {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fefefe;
  box-shadow: 0px 5px 5px #c1c1c1;
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}
main section.kvBlock .kv .k-text-img .prize .prizeA img {
  margin: 5% 0 10%;
  position: relative;
  z-index: 13;
}
main section.kvBlock .kv .k-text-img .prize .prizeB {
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 30%;
  gap: 10px;
}
main section.kvBlock .kv .k-text-img .prize .prizeB::after {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #fefefe;
  box-shadow: 0px 5px 5px #c1c1c1;
  position: absolute;
  top: 11%;
  left: 50%;
  transform: translate(-50%);
  z-index: 10;
}
main section.kvBlock .kv .k-text-img .prize .prizeB img {
  margin: 5% 0 20%;
  position: relative;
  z-index: 13;
}
main section.kvBlock .kv .k-text-img .date {
  display: inline-block;
  padding: 3% 3% 2%;
  background-color: #EE4A4A;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 2rem;
  letter-spacing: 0.1em;
  position: relative;
  margin: 3% 0;
  grid-area: date;
}
main section.kvBlock .kv .k-text-img .date strong {
  font-size: 1.5rem;
  font-weight: 800;
  color: #fff;
}
main section.kvBlock .kv .k-text-img .date::after {
  content: "キャンペーン応募期間";
  border: 2px solid #EE4A4A;
  background-color: #fff;
  color: #EE4A4A;
  font-size: 0.7rem;
  position: absolute;
  border-radius: 2rem;
  top: -12px;
  left: 50%;
  transform: translate(-50%);
  padding: 1.5%;
}
main section.kvBlock .kv .k-text-img .catchCopy {
  margin: 0 auto;
  grid-area: img;
}

section.kvBlockSP {
  width: 80vw;
  display: none;
}
section.kvBlockSP .kvBlockSPContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
}
section.kvBlockSP .kvBlockSPContent .kvBlockSPContent p:first-child,
section.kvBlockSP .kvBlockSPContent .kvBlockSPContent div.date {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.kvBlockSP .kvBlockSPContent > p:first-child {
  color: #EE4A4A;
  font-size: 3vw;
  font-weight: 800;
  position: relative;
}
section.kvBlockSP .kvBlockSPContent > p:first-child::before {
  content: "プレゼントキャンペーン実施中！";
  color: red;
  font-weight: 800;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-text-stroke: 1em #FFF;
}
section.kvBlockSP .kvBlockSPContent .date {
  background: #EE4A4A;
  border-radius: 5vw 5vw 2vw 2vw;
  padding: 2vw;
  min-width: 300px;
  position: relative;
  bottom: 5vw;
}
section.kvBlockSP .kvBlockSPContent .date::before {
  content: "キャンペーン応募期間";
  border: 2px solid #EE4A4A;
  background-color: #fff;
  color: #EE4A4A;
  font-size: 1rem;
  position: absolute;
  border-radius: 2em;
  bottom: -2vw;
  left: 51%;
  transform: translate(-50%);
  padding: 1.5%;
  min-width: 220px;
  text-align: center;
}
section.kvBlockSP .kvBlockSPContent .date p {
  color: #fff;
  text-align: center;
  letter-spacing: 0.4em;
  margin-bottom: 1vh;
}
section.kvBlockSP .kvBlockSPContent .date .dateTerm {
  display: flex;
  justify-content: center;
  gap: 5vw;
}
section.kvBlockSP .kvBlockSPContent .date .dateTerm::before {
  content: ">";
  font-size: 2em;
  color: #fff;
  position: absolute;
  top: 6vh;
}
section.kvBlockSP .kvBlockSPContent .date .dateTerm p {
  width: 50%;
  min-width: unset;
  color: #fff;
  text-align: center;
  letter-spacing: 0.2em;
  margin-bottom: 1vh;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}
section.kvBlockSP .kvBlockSPContent .date .dateTerm p span {
  color: #fff;
}
section.kvBlockSP .box {
  width: 60vw;
  height: 50vw;
  border: 2vw solid #fff;
  border-radius: 3em;
  position: relative;
  background: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  margin: 0 auto;
}
section.kvBlockSP .box .innerBox {
  display: flex;
  bottom: 0;
  height: 10vw;
  background-color: #fff;
  position: relative;
}
section.kvBlockSP .box .innerBox::after {
  content: "";
  width: 60vw;
  height: 10vh;
  border-radius: 30px;
  box-shadow: 0 12vh #fff;
  position: absolute;
  top: -105px;
  right: -5px;
  z-index: -1;
}
section.kvBlockSP .box .innerBox .bigCircle {
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  border-radius: 3em;
  position: absolute;
  bottom: 1vw;
}
section.kvBlockSP .box .innerBox .bigCircle::after {
  content: "";
  width: 900px;
  height: 900px;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
}
section.kvBlockSP .box .innerBox .bigCircle figure {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
section.kvBlockSP .box .innerBox .bigCircle figure figcaption {
  text-align: center;
}
section.kvBlockSP .box .innerBox .bigCircle figure:last-child img {
  width: 60%;
}
section.kvBlockSP .box .innerBox .bigCircle figure img {
  width: 30%;
}
section.kvBlockSP .box .innerBox .bigCircle .innerCircle {
  width: 30%;
  display: flex;
  justify-content: center;
  position: relative;
  top: -100px;
}
section.kvBlockSP .box .innerBox .bigCircle .innerCircle::after {
  content: "";
  width: 60vw;
  height: 60vw;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  z-index: -1;
  top: 25vw;
}
section.kvBlockSP .box .innerBox .bigCircle .innerCircle img {
  width: 50%;
}

section.taste .taste-box {
  width: 100%;
  min-height: 600px;
  margin: 20% auto;
  background-color: #fafafa;
  border-radius: 3em;
  box-shadow: 0 0 20px #aaa;
  position: relative;
}
section.taste .taste-box span:first-child {
  background: url(../img/bg3.png);
  width: 250px;
  height: 250px;
  position: absolute;
  top: 0;
}
section.taste h2 {
  font-size: 3em;
  padding: 5% 0 3% 0;
  text-align: center;
  color: #EE4A4A;
}
section.taste ul {
  width: 80%;
  text-align: center;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5% auto 0;
}
section.taste ul li {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}
section.taste ul li:nth-child(even) {
  padding-left: 3%;
}
section.taste ul li:nth-child(odd) {
  padding-right: 3%;
}
section.taste ul li:nth-child(1) .taste-text small {
  color: #b81b35;
}
section.taste ul li:nth-child(1) .taste-text strong {
  color: #b81b35;
}
section.taste ul li:nth-child(2) .taste-text small {
  color: #dd3f5b;
}
section.taste ul li:nth-child(2) .taste-text strong {
  color: #dd3f5b;
}
section.taste ul li:nth-child(3) .taste-text small {
  color: #555f9a;
}
section.taste ul li:nth-child(3) .taste-text strong {
  color: #555f9a;
}
section.taste ul li:nth-child(4) .taste-text small {
  color: #2a1038;
}
section.taste ul li:nth-child(4) .taste-text strong {
  color: #2a1038;
}
section.taste ul li .taste-img {
  margin: 0 10% 0 0;
}
section.taste ul li .taste-img img {
  width: 100px;
}
section.taste ul li .taste-text {
  text-align-last: left;
}
section.taste ul li .taste-text small {
  font-size: 10px;
}
section.taste ul li .taste-text strong {
  font-size: 15px;
  margin-bottom: 1.5%;
  line-height: 2em;
}
section.taste ul li .taste-text p {
  font-size: 1.2rem;
  line-height: 1.2em;
}
section.taste ul li .taste-text button {
  float: right;
  background: #EE4A4A;
  color: #fff;
  border: none;
  padding: 0.5em;
  border-radius: 0.3em;
  margin-top: 1rem;
  cursor: pointer;
}
section.taste small {
  width: 100%;
  text-align: center;
  margin: 5% 0 5%;
}

section.tasteSP {
  width: 60vw;
  height: 90vh;
  background-color: #fff;
  border-radius: 3em;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  display: none;
  overflow: hidden;
}
section.tasteSP h2 {
  margin: 10% 0 5%;
  text-align: center;
}
section.tasteSP .tasteSlider {
  width: 100%;
  overflow: hidden;
  position: relative;
  /* .slick-active{
    height:550px;
  } */
}
section.tasteSP .tasteSlider .phone_layer {
  margin: 0 auto;
  width: 80vw;
  height: 59vh;
  padding: 10px;
  cursor: pointer;
}
section.tasteSP .tasteSlider .phone_layer .slider.center .slick-list.draggable .fruitBox {
  background-color: #eee;
}
section.tasteSP .tasteSlider .phone_layer .slider.center .slick-list.draggable .fruitBox table {
  border-collapse: collapse;
  margin: 20px 0 25vw;
}
section.tasteSP .tasteSlider .phone_layer .slider.center .slick-list.draggable .fruitBox th, section.tasteSP .tasteSlider .phone_layer .slider.center .slick-list.draggable .fruitBox td {
  border: 1px solid #ddd; /* 可選：添加邊框效果 */
  padding: 8px;
  text-align: left; /* 將文字對齊方式設置為左對齊 */
  white-space: nowrap; /* 防止文字換行 */
}
section.tasteSP .tasteSlider .phone_layer .slider.center .slick-list.draggable .fruitBox th {
  background-color: #f2f2f2; /* 可選：添加表頭背景色 */
  font-weight: bold;
}
section.tasteSP .tasteSlider .slick-slide {
  background: white;
  margin: 10px;
  height: 470px;
  border-radius: 20px;
}
section.tasteSP .tasteSlider .slick-track {
  display: flex;
  align-items: center;
}
section.tasteSP .tasteSlider .slick-track div {
  transition: all 1s;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2em 2em;
}
section.tasteSP p {
  text-align: center;
  margin: 5% auto 10%;
  max-width: 250px;
}
section.tasteSP small {
  color: #EE4A4A;
  text-align: center;
  margin: 0 auto;
  width: 100vw;
  display: inline-block;
}

section.bottles {
  height: 100vh;
  min-height: 800px;
}
section.bottles .labellessBottle-text {
  float: left;
  width: 50%;
  display: flow-root;
  margin-top: 20%;
}
section.bottles .labellessBottle-text::after {
  content: "";
  display: table;
  clear: both;
}
section.bottles .labellessBottle-text p {
  display: inline-block;
  max-width: 400px;
}
section.bottles .sophisticatedDesign {
  float: left;
  width: 50%;
  padding: 30px 0 20px;
  margin-top: 5%;
}
section.bottles .sophisticatedDesign::after {
  content: "";
  display: table;
  clear: both;
}
section.bottles .sophisticatedDesign p {
  display: inline-block;
  max-width: 400px;
}
section.bottles .img {
  position: relative;
}
section.bottles .img img {
  float: right;
  clear: right;
  transform: rotate(15deg);
  margin: 0 5% 0 0;
  opacity: 1;
  position: relative;
  z-index: 10;
  top: 4vw;
}
section.bottles .img img::after {
  content: "";
  display: table;
  clear: both;
}
section.bottles .img .ball {
  position: absolute;
  filter: none;
  top: 10em;
  right: -8em;
  z-index: 1;
}
section.bottles span {
  font-size: 1em;
}
section.bottles h2 {
  line-height: 2em;
  color: #EE4A4A;
}
section.bottles button {
  display: block;
  clear: both;
  margin: 0 15% 0;
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: #F52626;
  color: #fff;
  box-shadow: 3px 3px 0 #777;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
}

@media (man-width: 1200px) {
  section.bottles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "img" "labellessBottleText" "sophisticatedDesign" "button";
  }
  .labellessBottle-text,
  .sophisticatedDesign,
  .img {
    width: 30%;
    text-align: left;
  }
  .labellessBottle-text,
  .sophisticatedDesign {
    padding: 5vh 0 0;
    margin-top: 0;
  }
  .img img {
    margin: 0;
  }
  .img .ball {
    position: absolute;
    filter: none;
    top: 10em;
    right: -8em;
    z-index: 1;
  }
  button {
    margin: 20px 0 0;
  }
}
section.wayToParticipate h2 {
  text-align: center;
  color: #EE4A4A;
  margin: 10% auto 5%;
  font-size: 3em;
}
section.wayToParticipate .signIn {
  display: flex;
  justify-content: center;
  margin: 0 0 10%;
}
section.wayToParticipate .signIn i {
  font-weight: 900;
  font-size: 5em;
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, 30%);
  display: flex;
  flex-direction: column;
}
section.wayToParticipate .signIn i span {
  margin-top: 10px;
  font-size: 16px;
}
section.wayToParticipate .signIn i span::before {
  content: "1";
  width: 3vw;
  height: 3vw;
  background-color: #EE4A4A;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -350%);
  font-size: 20px;
  text-align: center;
  line-height: 3vw;
  border-radius: 50%;
}
section.wayToParticipate .campaign {
  width: 55vw;
  padding: 5em;
  margin: 0 auto;
  background-color: #FCCDC3;
  border-radius: 3em;
  position: relative;
  animation: fluidrotate 30s ease 0s infinite;
  z-index: 10;
}
section.wayToParticipate .campaign::before {
  content: "2";
  width: 3vw;
  height: 3vw;
  background-color: #EE4A4A;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -150%);
  font-size: 20px;
  text-align: center;
  line-height: 3vw;
  border-radius: 50%;
}
section.wayToParticipate .campaign ul li a .fa-barcode {
  color: #E0211B;
  cursor: pointer;
}
section.wayToParticipate .campaign ul li a .fa-person-walking {
  color: #CB5A1E;
}
section.wayToParticipate .campaign ul li a .fa-instagram {
  color: linear-gradient(0.25turn, #C937A9, #FD5343, #FFD153);
}
section.wayToParticipate .campaign ul li a .fa-seedling {
  color: #2A6B3A;
}
section.wayToParticipate .campaign p {
  margin: 4% 0 2%;
  font-size: 0.5em;
  text-align: center;
}
section.wayToParticipate .campaignSP {
  min-height: 35vh;
  display: none;
  background-color: #FCCDC3;
  padding: 2vw;
  position: relative;
  animation: fluidrotate 30s ease 0s infinite;
  z-index: 3;
  /* .slick-active{
    height:550px;
  } */
}
section.wayToParticipate .campaignSP .phone_layer {
  margin: 0 auto;
  width: 50vw;
  height: 30vw;
  padding: 10px;
  cursor: pointer;
}
section.wayToParticipate .campaignSP .phone_layer .slider.center {
  overflow: hidden;
}
section.wayToParticipate .campaignSP .phone_layer .slider.center .campaignSlideCard .campaignCord {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}
section.wayToParticipate .campaignSP .phone_layer .slider.center .campaignSlideCard .campaignCord i {
  font-size: 3rem;
  margin: 2vh auto 1vh;
}
section.wayToParticipate .campaignSP .phone_layer .slider.center .campaignSlideCard .campaignCord p {
  text-align: center;
  color: #EE4A4A;
}
section.wayToParticipate .campaignSP .phone_layer .slider.center .campaignSlideCard .campaignCord span {
  font-size: 0.8em;
  text-align: center;
  max-width: 30vw;
  margin-top: 1vh;
}
section.wayToParticipate .campaignSP .phone_layer .slider.center .campaignSlideCard .campaignCord .fa-barcode {
  color: #E0211B;
}
section.wayToParticipate .campaignSP .phone_layer .slider.center .campaignSlideCard .campaignCord .fa-person-walking {
  color: #CB5A1E;
}
section.wayToParticipate .campaignSP .phone_layer .slider.center .campaignSlideCard .campaignCord .fa-seedling {
  color: #2A6B3A;
}
section.wayToParticipate .campaignSP .slick-slide {
  background: white;
  margin: 10px;
  height: 24vw;
  border-radius: 20px;
}
section.wayToParticipate .campaignSP .slick-track {
  display: flex;
  align-items: center;
}
section.wayToParticipate .campaignSP .slick-track div {
  transition: all 1s;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2vh 5vw;
}
section.wayToParticipate ul {
  display: flex;
  gap: 1em;
  justify-content: center;
  flex-wrap: wrap;
}
section.wayToParticipate ul li {
  display: flex;
  flex-direction: column;
  width: 20%;
  border-radius: 0.7rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px #c1c1c1;
}
section.wayToParticipate ul li i {
  font-size: 3em;
  padding: 1em 0 0.2em;
}
section.wayToParticipate ul li a {
  text-align: center;
}
section.wayToParticipate ul li a p {
  font-size: 0.8em;
  padding: 0.2em 0 1em;
}
section.wayToParticipate .earnPoints {
  width: 200px;
  max-width: 200px;
  height: 200px;
  max-height: 200px;
  padding: 2em;
  margin: 15% auto -4%;
  border: 10px solid #EE4A4A;
  background-color: #FCCDC3;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}
section.wayToParticipate .earnPoints::before {
  content: "3";
  width: 3vw;
  height: 3vw;
  background-color: #EE4A4A;
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -250%);
  font-size: 20px;
  text-align: center;
  line-height: 3vw;
  border-radius: 50%;
}
section.wayToParticipate .earnPoints strong {
  font-size: 3em;
}
section.wayToParticipate .earnPoints strong small {
  font-size: 0.3em;
}
section.wayToParticipate .earnPoints > p {
  font-size: 0.5em;
}
section.wayToParticipate .prize .prizeCordB, section.wayToParticipate .prize .prizeCordA {
  width: 30%;
  height: 33vw;
  max-height: 600px;
  background-color: #fdcdc3;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0 0 10px #ccc;
  display: inline-block;
  margin: 0 3%;
  text-align: center;
  overflow: hidden;
}
section.wayToParticipate .prize .prizeCordB img, section.wayToParticipate .prize .prizeCordA img {
  margin: auto;
  display: block;
  margin-bottom: 7%;
  position: relative;
  z-index: 10;
}
section.wayToParticipate .prize .prizeCordB span, section.wayToParticipate .prize .prizeCordA span {
  position: relative;
  z-index: 10;
}
section.wayToParticipate .prize .prizeCordB .bubbleContain, section.wayToParticipate .prize .prizeCordA .bubbleContain {
  z-index: 1;
  --bubbleContain-background:#ED5565;
  display: grid;
  position: relative;
  grid-area: bubbleContain;
  min-height: 12rem;
}
section.wayToParticipate .prize .prizeCordB .bubbleContain .bubbles, section.wayToParticipate .prize .prizeCordA .bubbleContain .bubbles {
  position: absolute;
  top: 0;
  left: -20px;
  right: -20px;
  height: 4rem;
  background: var(--bubbleContain-background);
  filter: url("#blob");
}
section.wayToParticipate .prize .prizeCordB .bubbleContain .bubbles .bubble, section.wayToParticipate .prize .prizeCordA .bubbleContain .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--bubbleContain-background);
  border-radius: 100%;
  animation: bubble-size var(--time, 6s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 6s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
section.wayToParticipate .prize {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.wayToParticipate > small {
  display: block;
  max-width: 260px;
  margin: 3% auto 5%;
  font-size: 1em;
}
section.wayToParticipate > p {
  text-align: center;
}
section.wayToParticipate > p strong {
  font-size: 3em;
  color: #EE4A4A;
}

.reverse .loader-bg1-left, .reverse .loader-bg1-right {
  height: 0;
  position: relative;
  bottom: 0px;
  z-index: 2;
  animation: wave 3s ease-out forwards;
  animation-delay: 2s;
  z-index: -1;
}

.reverse {
  transform: rotate(180deg);
}
.reverse .loader-bg1-right .drop1 {
  width: 10px;
}
.reverse .loader-bg1-right .drop2 {
  animation: drop-right 3s cubic-bezier(1, 0.19, 0.66, 0.12) 0.5s infinite;
  animation-delay: 5s;
  transform: translate(-30em);
}
.reverse .loader-bg1-left {
  left: 50%;
}
.reverse .loader-bg1-left .drop2 {
  left: 40px;
  animation: drop-left 3s cubic-bezier(1, 0.19, 0.66, 0.12) 0.5s infinite;
  animation-delay: 5s;
}

.loader-bg {
  z-index: 1;
  animation: wave 1s ease-out forwards;
}

.loader-bg1 {
  width: 30px;
  height: 0;
  position: relative;
  left: 45%;
  bottom: 0px;
  z-index: 2;
  animation: wave 1s ease-out forwards;
  animation-delay: 2s;
  z-index: 1;
}

.drops {
  display: flex;
  justify-content: center;
  filter: url(#liquid);
  animation: fade-in 0.1s linear 0.4s forwards;
}

.drop1, .drop2 {
  width: 35px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  margin: auto;
  background-color: #FCCDC3;
}

.drop1 {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}
.drop1 .drop2 {
  z-index: -5;
  animation: drop 3s cubic-bezier(1, 0.19, 0.66, 0.12) 0.5s infinite;
}

.container {
  position: relative;
  width: 300px;
  height: 400px;
}
.container .number {
  position: absolute;
  width: 300px;
  top: 24%;
  text-align: center;
  font-size: 32px;
  color: #fff;
  z-index: 10;
}
.container .contrast {
  width: 300px;
  height: 400px;
  background-color: #000;
  overflow: hidden;
  filter: contrast(10) hue-rotate(0);
  animation: hueRotate 10s infinite linear;
}
.container .contrast .circle {
  position: relative;
  width: 300px;
  height: 300px;
  filter: blur(8px);
}
.container .contrast .circle::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 200px;
  height: 200px;
  background-color: #00ff6f;
  border-radius: 42% 38% 62% 49%/45%;
  animation: rotate 10s infinite linear;
}
.container .contrast .circle::before {
  content: "";
  position: absolute;
  width: 176px;
  height: 176px;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
  z-index: 10;
  border-radius: 50%;
}
.container .contrast .bubbles {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100px;
  height: 40px;
  transform: translate(-50%, 0);
  border-radius: 100px 100px 0 0;
  background-color: #0f6;
  filter: blur(5px);
  list-style: none;
}
.container .contrast .bubbles li {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #0f6;
  animation: moveToTop 6px 4s infinite;
}

footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
footer .SNS {
  width: 300px;
  margin: 0 auto 50px;
  display: block;
}
footer .SNS a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0.25turn, #C937A9, #FD5343, #FFD153);
  border-radius: 0.5em;
  padding: 0.5em 1em;
  margin: 0 20px;
  text-decoration: none;
}
footer .SNS a i {
  font-size: 2em;
}
footer small {
  display: inline-block;
  width: 120px;
  font-size: 0.3em;
  text-align: center;
}
footer:nth-child(2) small {
  float: right;
}

.footer-bg {
  position: fixed;
  bottom: 0em;
  left: 0;
  width: 100%;
  height: 400px;
  overflow: hidden;
  z-index: -1;
  opacity: 1;
}
.footer-bg .fruit {
  position: absolute;
  background: url(../img/fruitBG.png) no-repeat;
  background-size: contain;
}
.footer-bg .fruit3, .footer-bg .fruit2, .footer-bg .fruit1 {
  left: 26em;
  top: -1em;
  display: block;
  width: 60em;
  height: 60em;
  opacity: 0;
}
.footer-bg .fruit2 {
  width: 30em;
  height: 30em;
  left: 0em;
  top: 10em;
}
.footer-bg .fruit3 {
  width: 30em;
  height: 30em;
  left: 78em;
  top: 10em;
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes moving {
  100% {
    transform: translate(-150px);
  }
}
@keyframes fluidrotate {
  0%, 100% {
    border-radius: 53% 37% 23% 35%/20% 38% 77% 45%;
  }
  15% {
    border-radius: 24% 53% 44% 32%/45% 50% 30% 37%;
  }
  35% {
    border-radius: 31% 36% 25% 23%/43% 37% 50% 24%;
  }
  55% {
    border-radius: 23% 68% 37% 42%/50% 55% 70% 43%;
  }
  75% {
    border-radius: 44% 30% 23% 39%/37% 30% 40% 22%;
  }
  95% {
    border-radius: 26% 42% 43% 58%/48% 22% 25% 57%;
  }
}
@keyframes drop {
  0% {
    transform: translate(170%, 15vh);
  }
  100% {
    transform: translate(170%, 35vh);
  }
}
@keyframes wave {
  0% {
    background-position: 0 160px;
    background-size: 170px 300px;
  }
  100% {
    background-position: 500px -18px;
    background-size: 250px 150px;
  }
}
@media screen and (max-width: 1200px) {
  main {
    margin: 0;
  }
  section.taste {
    display: none;
  }
  section.tasteSP {
    margin: 20vh auto 10%;
    display: block;
    position: relative;
  }
  section.tasteSP::before {
    content: "←";
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    line-height: 1.8rem;
    text-align: center;
    position: absolute;
    font-size: 1rem;
    color: #aaa;
    top: 50%;
    left: 4vw;
    border: 1px solid #aaa;
    border-radius: 50%;
  }
  section.tasteSP::after {
    content: "→";
    width: 1.8rem;
    height: 1.8rem;
    position: absolute;
    line-height: 1.8rem;
    text-align: center;
    position: absolute;
    font-size: 1rem;
    color: #aaa;
    top: 50%;
    right: 4vw;
    border: 1px solid #aaa;
    border-radius: 50%;
  }
  section.kvBlock {
    display: none;
  }
  section.kvBlockSP {
    display: block;
    margin-top: 8%;
  }
  section.kvBlockSP .kvBlockSP {
    max-width: 800px;
  }
  .campaign {
    display: none;
  }
  section.wayToParticipate h2 {
    font-size: 3em;
    text-align: center;
    color: #EE4A4A;
    margin-top: 25vw;
  }
  section.wayToParticipate .campaignSP {
    display: block;
  }
  section.wayToParticipate .campaignSP .slick-slide {
    height: 25vh;
  }
  header nav .burgerMenu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #fff;
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    z-index: 30;
  }
  header nav .burgerMenu li {
    margin: 20px 0;
  }
  header nav .menuLine {
    display: block;
    position: relative;
    width: 40px;
    height: 5px;
    background-color: #777;
    cursor: pointer;
    z-index: 31;
    right: 3vw;
    display: none;
  }
  header nav .menuLine::before, header nav .menuLine::after {
    content: "";
    width: 40px;
    height: 5px;
    background-color: #777;
    position: absolute;
    transition: all 0.3s ease;
  }
  header nav .menuLine::before {
    top: 7px;
  }
  header nav .menuLine::after {
    bottom: 7px;
  }
  header nav .menuLine.crossed {
    transform: rotate(-45deg);
  }
  header nav .menuLine.crossed::before {
    top: 0;
    transform: rotate(90deg);
  }
  header nav .menuLine.crossed::after {
    bottom: 0;
    transform: rotate(90deg);
  }
  header nav .closeMenu {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    display: none;
  }
  header nav .active {
    display: block;
    right: 0;
  }
  header nav .active .closeMenu {
    display: block;
  }
  .labellessBottle-text {
    order: 2;
    /* 将第一张图片的顺序设为2，使其变成第二张 */
    display: block;
    margin: auto;
  }
  .img {
    order: 1;
    display: block;
    margin: auto;
  }
  section.bottles {
    height: 150vh;
    display: grid;
    grid-template-rows: 50% 17% 23% 7%;
  }
  section.bottles .sophisticatedDesign {
    order: 3;
    display: block;
    width: 80vw;
  }
  section.bottles .sophisticatedDesign span {
    font-size: 0.8rem;
  }
  section.bottles button {
    order: 4;
    margin: 5% auto;
    border: none;
    border-radius: 5px;
    background-color: #F52626;
    color: #fff;
    box-shadow: 3px 3px 0 #777;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    width: 120px;
    height: 50px;
  }
  section.bottles .img img {
    width: 25vw;
    float: unset;
    transform: rotate(0deg);
    z-index: 10;
    width: 25vw;
    float: unset;
    transform: rotate(0deg);
    margin-bottom: 20vw;
    left: 0;
  }
  section.bottles .img .ball {
    width: 70vw;
    position: absolute;
    filter: none;
    top: 35%;
    left: 50%;
    margin-right: -38vw;
    z-index: 1;
    transform: translate(-50%);
  }
  section.bottles .labellessBottle-text {
    order: 2;
    display: block;
    margin: auto;
    display: inline-block;
    max-width: 90vw;
    width: 80vw;
    margin-top: 2%;
  }
  section.bottles .labellessBottle-text p {
    display: inline-block;
    max-width: 80vw;
  }
  section.bottles .labellessBottle-text span {
    font-size: 0.8rem;
  }
  .sophisticatedDesign {
    order: 3;
    display: block;
    margin: auto;
    width: 80vw;
    padding-top: 5%;
  }
  .sophisticatedDesign p {
    display: inline-block;
    max-width: 80vw;
  }
}
@media screen and (max-width: 768px) {
  main {
    margin: 0;
  }
  section.wayToParticipate .prize .prizeCordB,
  section.wayToParticipate .prize .prizeCordA {
    height: 46vw;
  }
  section.wayToParticipate .campaignSP .slick-slide {
    height: 28vh;
  }
}/*# sourceMappingURL=campaign.css.map */